<div *ngIf="singleBeer">
  <div class="row">
    <div class="col-md-3 singlebeer">
      <img src="{{singleBeer?.image_url}}" alt="{{singleBeer?.name}}">
    </div>
    <div class="col-md-9">
      <h4>{{singleBeer?.name}}</h4>
      <div class="tagline">{{ singleBeer?.tagline }}</div>

      <div class="ingredients">
          <span class="boldtext">IBU:</span> {{singleBeer?.ibu}}
          <span class="boldtext">ABV:</span> {{singleBeer?.abv}}
          <span class="boldtext">EBC:</span> {{singleBeer?.ebc}}
      </div>

      <div class="description">
        {{singleBeer?.description}}
      </div>

      <div class="best_served_info">
        <div class="boldtext">Best Served with:</div>
        <ul>
          <li *ngFor="let item of singleBeer.food_pairing">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>

  <h5>You might also like:</h5>

  <div class="row suggested_beers">
    <div class="col-md-4 text-center" *ngFor="let beer of suggestedBeers">
      <div class="beer">
        <img src="{{beer.image_url}}" alt="{{beer.name}}">
        <h6>{{beer.name}}</h6>
      </div>
    </div>
  </div>
</div>