/** Style Custom Variables **/
$theme-colors: (
  "primary": #fab20b,
  "secondary": #eeeeee
);

$primary: #fab20b;
/** End Style Custom Variables **/

@import 'node_modules/bootstrap/scss/bootstrap-reboot';
@import 'node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

body{
  background: #f8f8f8;
  color: #777777;
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6{
  color: $primary;
}

.modal{
  .modal-dialog{
    min-width: 60%;
    .modal-header{
      border-bottom: none;
      padding: 0.5rem;
    }
    .modal-body{
      padding: 1.5rem;
      .singlebeer{
        text-align: center;
        img{
          max-width: 100%;
          margin: auto auto 1.5rem auto;
          max-height: 65vh;
        }
      }
      .tagline{
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
        position: relative;
        margin-bottom: 0.3rem;
        &:after{
          content: " ";
          width: 90px;
          border-bottom: solid 5px #b33e99;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .boldtext{
        font-weight: 600;
      }
      .ingredients{
        margin: 1rem auto;
        span{
          &:not(:first-child){
            padding-left: 20px;
          }
        }
      }
      .best_served_info{
        margin: 1rem auto 2rem auto;
      }
    }
  }
}

.page_header{
  background-color: $primary;
  padding-bottom: 2.5rem;
  h1, h2, h3, h4, h5, h6{
    color: $white;
  }
  h1{
    font-size: 2rem;
  }
  input[type=text]{
    width: 55%;
    padding: 5px;
    color: #666666;
    border: none;
    &:-moz-placeholder{
      color: #a6a6a6;
    }
    &::placeholder{
      color: #a6a6a6;
    }
    &::-webkit-input-placeholder{
      color: #a6a6a6;
    }
    &:-ms-input-placeholder{
      color: #a6a6a6;
    }
  }
}

.content_body{
  padding: 3rem 1.5rem 5rem 1.5rem;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sticky_padded{
  padding-top: 50px;
}

.beer_card{
  position: relative;
  padding: 10px;
  .card{
    min-height: 100%;
    .beer_thumb{
      padding-top: 25px;
      padding-bottom: 15px;
      img{
        height: 23vh;
      }
    }
    .card-body{
      padding: 1rem 1.25rem 2rem 1.25rem;
      .card-text{
        min-height: 75px;
      }
    }
    .fav_star{
      cursor: pointer;
      position: absolute;
      z-index: 10;
      top: 10px;
      right: 10px;
      &:hover{
        color: $primary;
      }
      &.fa-star{
        color: $primary;
      }
    }
  }

  &:hover{
    padding: 5px;
    cursor: pointer;
    .card{
      padding: 5px;
      -webkit-box-shadow: 0px 0px 10px #aaaaaa;
      -moz-box-shadow: 0px 0px 10px #aaaaaa;
      box-shadow: 0px 0px 10px #aaaaaa;
    }
  }
}

