/** Style Custom Variables **/
$theme-colors: (
  "primary": #fab20b,
  "secondary": #eeeeee
);
/** End Style Custom Variables **/

@import 'node_modules/bootstrap/scss/bootstrap-reboot';
@import 'node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

body{
  background: #f8f8f8;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sticky_padded{
  padding-top: 50px;
}

.beer_card{
  position: relative;
  .beer_thumb{
    padding-top: 25px;
    padding-bottom: 15px;
    img{
      height: 90px;
    }
  }
  .fav_star{
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
  }
}