 <!--- Start Header -->
 <section class="header_menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/favourites']" routerLinkActive="active">Favorites</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<!--- End Header -->


<!--The content below is only a placeholder and can be replaced.-->

<section> 
  <router-outlet></router-outlet>
</section>