
<section class="container-fluid page_header text-center">
    <h1>
      The Beer Bank
    </h1>
    <h6>
        Find your favourite beer here
    </h6>
    
    <form action="">
      <input type="text" placeholder="Search for beer name">
    </form>
  
  </section>
  
  <section id="home_content" class="container content_body">
    <div class="row">
      <div class="beer_card col-lg-4 col-md-6 col-sm-12" *ngFor="let beer of beers">
        <div class="card text-center">
          <div class="beer_thumb" (click)="showModal(beer)">
            <img src="{{beer.image_url}}" alt="{{beer.name}}">
          </div>
          <div class="card-body" (click)="showModal(beer)">
            <h5 class="card-title">
              {{ beer.name.length > 25? (beer.name | slice:0:25)+'..' : beer.name }}
            </h5>
            <p class="card-text">{{ beer.tagline }}</p>
          </div>
          <i class="fa fa-star-o fav_star"></i>
        </div>
      </div>
    </div>
  </section>



<!-- Modal -->
<div class="modal fade" id="viewBeerModal" tabindex="-1" role="dialog" aria-labelledby="viewBeerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-single-beer-child-view [singleBeer]="viewdBeer"></app-single-beer-child-view>
      </div>
    </div>
  </div>
</div>